//inner pages
.content
	display: block
	width: 100%
	margin: 0 auto
	padding: 175px 20px 15px
	text-align: left
	color: #A7AAAC
	box-sizing: border-box
	+proxima
	&.s-width
		max-width: 890px
	&.m-width
		max-width: 935px
	&.txt-white
		color: #FFF
	&__ttl
		position: relative
		margin-bottom: 70px
		color: #ed1970
		font-size: 63px
		text-transform: uppercase
		+quad
		&.is-white
			color: #FFF
	.ttl_ico
		content: ""
		position: absolute
		display: block
		top: 19px
		left: -115px
	&__img
		background: #fff
		width: 242px
		height: 230px
		+vertical
		img
			max-width: 242px
			max-height: 230px
			vertical-align: middle
	&__bl
		margin-bottom: 25px
		+clr
		.table
			width: 242px
			font-size: 13px
			letter-spacing: 1.1px
	&__item
		+clr
		.table__ttl
			text-transform: uppercase
			margin-bottom: 30px
			font-size: 15px
			letter-spacing: 1.1px
		.table
			display: table-cell 
			font-size: 15px
			border-top: 2px solid #fff
			border-bottom: 2px solid #fff
			&.is-first
				width: 42%
			&.is-last
				.cell
					padding: 20px 0	
			&.txt-right
				text-align: right	
			.row
				&:first-child
					text-transform: uppercase
			.cell
				padding: 22px 0
				&.txt-up
					text-transform: uppercase				
		.trash_ico
			padding-right: 10px
	&__name
		text-align: right
		font-size: 36px
		+quad
	&__list
		padding: 10px 0
		text-align: right
		font-size: 13px
		span
			color: #ed1970
	&__btn
		+clr
		.btn
			display: block
			min-width: 177px
			&:first-child
				margin-bottom: 10px
		&.with-margin
			margin-top: 72px
	&__input
		margin-right: 25px
		font-size: 18px
		color: #ED1970
		letter-spacing: 1.2px
		input
			width: 115px
			height: 50px
			margin-left: 10px
			padding: 0 15px
			font-size: 18px
			text-align: center
			box-sizing: border-box
	&__el
		margin-top: 50px
		font-size: 16px
		letter-spacing: 1.1px
		p
			margin-bottom: 35px
		.table__ttl
			font-size: 18px
			color: #ed1970
			text-transform: uppercase
		.table
			margin-bottom: 50px
			border-collapse: collapse
			letter-spacing: 0.5px
			.cell
				padding: 8.5px 15px
				border: 1px solid #a7a9ac
				&:first-child
					width: 21%
					color: #ed1970
	.total
		display: table 
		margin-top: 30px
		width: 32%
		text-transform: uppercase
		font-size: 15px 
		letter-spacing: 1.1px
		.row
			display: table-row 
			&:last-child
				.cell
					padding-top: 25px
					+proxima-b
		.cell
			display: table-cell 
			padding: 5px 0
			&.txt-right
				text-align: right
				padding-right: 20%				
	+r(1150)
		&__ttl
			p
				overflow: hidden
		.ttl_ico
			position: static
			float: left
			margin: 20px 30px 0 0
	+r(930)
		&__item
			.table	
				font-size: 13px  
		.total
			font-size: 13px 		
	+r(720)
		.ttl_ico
			display: none
		.table__ttl
			text-align: center
		&__input
			float: none
			margin: 0 0 20px 0
		&__item
			.table	
				display: block
				width: 50% 
				margin: 0 auto
				padding: 0 5%
				text-align: center	
				border-bottom: 0 
				box-sizing: border-box
				&.is-first
					width: 50%
				&.txt-right
					text-align: center	
				.row
					display: block 	 
				.cell
					display: block 
					padding: 15px 0
		.total
			float: none
			width: 50%
			margin: 30px auto 0
			padding-top: 15px
			border-top: 2px solid #fff	
	+r(565)
		&__ttl
			text-align: center
			font-size: 37px
		.ttl_ico
			display: block
			float: none
			margin: 0 auto 10px
		&__bl
			div
				float: none
			.table
				margin: 0 auto 20px
		&__img
			margin: 0 auto 20px
		&__name
			text-align: center
		&__list
			text-align: center
		&__input
			text-align: center
		&__btn
			.btn
				margin: 0 auto
	+r(480)		
		&__item
			.table
				width: 100% 
				&.is-first
					width: 100% 
		.total
			width: 100% 	
			.cell
				&.txt-right
					padding-right: 10% 		
		.btn
			float: none			





