// Normally mainpage styles
.inner
	position: relative
	height: 100%
	overflow: hidden
	+vertical
	&.is-auto
		font-size: inherit
		height: auto
		&:before
			display: none
	+r(1150)
		text-align: left
	+r(1024)
		height: auto

.inside
	display: inline-block
	width: 100%
	padding: 20px
	max-width: 1040px
	vertical-align: middle
	box-sizing: border-box
	+clr
	&__logo
		display: block
		padding-top: 20px
	&__txt
		width: 550px
		text-align: left
		font-size: 16px
		color: #FFF
		letter-spacing: 1.25px
		+proxima
	&__ttl
		margin-bottom: 50px
		font-size: 63px
		letter-spacing: 5px
		+quad
	&__btn
		margin-top: 50px
		font-size: 0
		.btn
			margin: 0 8px
	+r(1250)
		padding-top: 90px
	+r(1024)
		padding-top: 100px
		&__logo
			float: none
			text-align: center
			margin-bottom: 50px
		&__txt
			float: none
			width: 100%
			text-align: center
		&__ttl
			font-size: 50px
		.btn
			margin-bottom: 20px
	+r(400)
		&__logo
			img
				width: 95.5%
		&__ttl
			font-size: 40px
			margin-bottom: 25px

.nav
	position: fixed
	top: 0
	bottom: 0
	right: 0
	width: 75px
	min-height: 500px
	background: #fff
	z-index: 1
	&.is-grey
		background: #efefee
	a
		position: relative
		display: block
		margin: 0 auto 40px
		text-align: center
		-webkit-tap-highlight-color: transparent
		&:hover
			.tooltip
				visibility: visible
				+opacity(1)
	&__top
		padding: 30px 0
	&__bottom
		position: absolute
		width: 100%
		bottom: 0
		padding: 30px 0
	.info
		display: none
	+r(1250)
		width: auto
		min-width: 320px
		min-height: 0
		bottom: inherit
		left: 0
		+clr
		a
			display: inline-block
			margin-bottom: 0
			padding: 0 15px
			line-height: 75px
		.tooltip
			display: none
		&__top
			float: right
			padding: 0
		&__bottom
			position: static
			float: left
			width: auto
			padding: 0
		.info
			position: static
			display: block
			float: left
			padding: 0
			a
				&:first-child
					margin-right: 0
	+r(480)
		a
			padding: 0 10px
	+r(410)
		.info
			display: none

.tooltip
	visibility: hidden
	position: absolute
	top: 50%
	right: 100%
	margin: -20px 20px 0 0
	padding: 2px 15px 0
	background: #FFF
	color: #ed1970
	font-size: 16px
	line-height: 2.5
	white-space: nowrap
	+proxima
	+opacity(0)
	+transition(visibility 0.3s, opacity 0.3s)
	&:after
		content: ""
		position: absolute
		top: 0
		left: 100%
		+arr(20, 42, #fff, r)

.menu
	position: fixed
	top: 0
	right: 0
	bottom: 0
	width: 320px
	padding: 25px
	background: #fff
	text-align: center
	font-size: 16px
	z-index: 3
	box-sizing: border-box
	overflow: auto
	+transition(transform 0.3s)
	+transform(translateX(100%))
	+proxima-l
	&.is-active
		+transform(translateX(0))
	&.is-grey
		background: #EFEFEE
	&__close
		display: block
		margin-bottom: 30px
		text-align: right
		-webkit-tap-highlight-color: transparent
	&__list
		margin-top: 60px
		a
			display: block
			padding: 12px 0
			text-transform: uppercase
			text-decoration: none
			color: #87898B
			line-height: 1.45
			letter-spacing: 3.5px
			-webkit-tap-highlight-color: transparent
			span
				color: #ed1970
			&.product
				text-transform: none
			&:hover
				color: #ed1970
	&__bottom
		margin-top: 75px
		padding-bottom: 25px
	&__b
		position: relative
		display: block
		padding: 18px 0
		text-transform: uppercase
		text-decoration: none
		color: #ed1970
		letter-spacing: 3.5px
		line-height: 2.5
		-webkit-tap-highlight-color: transparent
		i
			position: absolute
			left: 0
		input
			margin-left: 10px
			padding: 0 15px
			height: 40px
			box-sizing: border-box
			+proxima-l
		.search_ico
			margin-left: 5px
		.call_ico
			margin-left: 2px
	.is-semibold
		+proxima-sb
	+r(480)
		width: 100%

.info
	position: fixed
	top: 85%
	background: #fff
	padding: 15px
	font-size: 0
	&.is-grey
		background: #F3F5F6
	a
		display: inline-block
		&:first-child
			margin-right: 15px
	+r(1250)
		display: none
		&.is-grey
			background: #EFEFEE
